<!-- https://www.youtube.com/watch?v=QnDWIZuWYW0 -->

{% extends "layout.html" %}
{% block content %}
    <div class ="content-section">
        <form method="POST" action="">
            {{ search.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"></legend>
                <div class="form-group">
                    {{ search.query.label(class="form-control-label")}}
                    {{ search.query(class="form-control form-control-lg")}}
                </div>
            </fieldset>
            <div class="form-group">
                {{ search.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div>
        Type in a query into the search bar and press the Enter button. 
        To show more results, press the enter button again.
    </div>
    <div> Retrieval Time: {{time_passed}} seconds </div>
    {% for url in results %}
    <div>
        <a href={{url}} target="_blank">{{url}}</a>
    </div>
    {% endfor %}
{% endblock content %}